/* This is bebop.css */

#full {
	max-width: 100%;
	position: relative;
}

#music {
	width: 100%;
}

#text {
	position: absolute; 
   	top: 15%; 
   	left: 2%; 
   	width: 100%;
   	color: white;
   	font-size: 110%;
   	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

a {
	position: absolute;
	text-decoration: none;
	color: white;
	background-color: #333333;
	text-shadow: none;
}

a:hover {
	color: #333333;
	background-color: white;
	text-shadow: none;
}