/* This is about.css */

#aboutflex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#aboutMe{
	display: inline-block;
	float: left;
	min-width: 55%;
	max-width: 65%;
	font-size: l40%;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #E1E1E1;
	padding: 5px 0 5px 5px;
}

#myPhoto{
	text-align: center;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 3px;
	float: right;
}

figcaption{
	text-align: center;
}