/*   This is main.css   */

* {
	box-sizing: border-box;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}	

.clear {
    clear:both;
    line-height:0;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body{
	background-color: #EAEAEA;
	margin: 0;
}

a {
   outline: 0;
}

 /* all default links */
.defaultlink:link, .defaultlink:visited {
	color: blue;
	text-decoration: none;
}

.defaultlink:focus, .defaultlink:hover{
	text-decoration: underline;
}

#wrapper{
	max-width: 66.7%;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

header{
	background-color: #333333;
	padding: 4% 0 4% 0;
	letter-spacing: .1em;
	background-image: url("/miscphotos/headerbackgroundsmaller.jpg");
	background-size: cover;
	background-position: right top;
	background-repeat: no-repeat;
	text-align: center;
}

#skipcontent a
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:.1%;
	height:.1%;
	overflow:hidden;
}
 
#skipcontent a:focus
{
	font-size: x-small;
	text-decoration: none;
	float: right;
	margin-right: 1%;
	padding: 0.5%;
	background-color: #FFFFFF;
	color: #333333;
	border-radius: 2px;
	position: static;
	top: auto;
	left: auto;
	width: auto;
	height: auto;
	overflow: visible;
}

#titlebox{
	color: #333333;
	background-color: rgba(200, 200, 200, 0.85);
	border-radius: 5px;
	font-size: 1.75vmax;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	padding: 0 .5%;
}

nav{
	text-align: center;
	color: #333333;
	width: auto;
	background-color: #E1E1E1;
	padding: 0.5% 0;
}

.nav_links{
	list-style-type: none;
}

nav li{
	display: inline;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0px .25%;
	border: 1px solid #E1E1E1;
}

nav a:link, nav a:visited{
	color: #333333;
}

nav a:hover, nav a:focus{
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

nav .icon {
    display: none;
}

#current{
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

#current:focus, #current:hover{
	border: 1px solid #C1C1C1;
}

nav ul{
	padding-left: 0;
	list-style-type: none;
}

main{
	background-color: #FFFFFF;
	color: #333333;
	width: 100%;
	min-width: 51.5%;
	height: 100%;
	background-color: #FFFFFF;
	padding-left: 1%;
	padding-bottom: 2%;
}

footer{
	text-align: center;
	color: #FFFFFF;
	background-color: #333333;
	padding: .5% 0 1% 0;
	clear: both;
}

footer h2{
	text-decoration: underline;
}

.footer_links, #footer_email{
	text-decoration: none;
	color: #FFFFFF;
	padding: 0 .5%;
}

#footer_email:hover, #footer_email:focus, .footer_links:hover, .footer_links:focus{
	text-decoration: underline;
}

#copyright, #pagemod{
	font-style: italic;
	font-size: .75em;
}

/* Debugging */ 
#borderdebug{
	border: 1px solid red;
}

@page { size: auto;  margin: 0; }

@media print{
	header, nav, footer{ display: none; }
	p {page-break-inside: avoid;}
}

/* &#9776; */

@media only screen and (max-width: 1200px){		/* Tablet landscape CSS */
	#wrapper{
		max-width: 85%;
	}
	
	#skipcontent{
		display: none !important;
	}
	
	#titlebox{
		font-size: 3vmax;
	}
}

@media only screen and (max-width: 900px){		/* Tablet portrait CSS */
	#wrapper{
		max-width: 100%;
	}
	
	#titlebox{
		font-size: 4vmax;
	}
}

@media only screen and (max-width: 600px){		/* Phone CSS */
	#titlebox{
		font-size: 5vmax;
	}
	
	.floating-box{ 
		box-shadow: none; 
	}
}