/* This is photography.css */

h4{
	text-align: center;
}

.responsive{

}

.floating-box{
	border: 3px solid #909090;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1%;
}

.floating-box img{
	width: 100%;
	height: auto;
}

.floating-box img:hover{
	opacity: 0.5;
    	filter: alpha(opacity=50);
}

figcaption{
	text-align: center;
	display: inline-block;
	font-family: serif;
	padding: 3% .5%;
}

* {
	box-sizing: border-box;
}

#photowrap{
	text-align: center;
	padding: 1% 0;
	position: relative;
}

.responsive {
	padding: 0 1%;
	float: left;
	width: 32.99999%;
}
.3picfix:after{
		content: "";
   		display: table;
    		clear: both;
	}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main{
	text-align: center;
}

@media only screen and (max-width: 1200px){		/* Tablet landscape CSS */
	.floating-box{ box-shadow: none; }
	
	.responsive{
        	width: 48.99999%;
        	margin: 6px 0;
    	}
	.2picfix:after{
		content: "";
   		display: table;
    		clear: both;
	}
}

@media only screen and (max-width: 900px){		/* Tablet portrait CSS */
	.floating-box{ box-shadow: none; }
	
	.responsive {
        	width: 100%;
    	}
}

@media only screen and (max-width: 600px){		/* Phone CSS */
	.floating-box{ box-shadow: none; }
	
	.responsive {
        	width: 100%;
    	}
}