/*	This is resume.css	*/

#pdfDownload{
	text-align: center;
	padding-top: .1%;
}

#resume_head{
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	text-decoration: underline;
}

.resume_contact{
	list-style-type: none;
	text-align: center;
	/*margin-right: 0%;
	padding: 0px 3px;*/
}

.resume_contact li{
	display: inline;
}

.resume_contact li a{
	text-decoration: none;
}

.resume_content h2{
	text-decoration: underline;
}

.subhead{
	font-weight: bold;
}